.mainBlock{display: flex;
    height: 75px;
    justify-content: space-between;
    background-color: antiquewhite;
    align-items: center;
    }
    ul{display: flex;}
    ul li{width: 100px;list-style-type: none;}
    a{text-decoration: none;color: black;font-style:normal;
    font-size: large;}
    h1{margin-left: 200px;
    font-weight: 900;font-family: Arial, Helvetica, sans-serif;}
    input{padding: 10px;padding-right: 200px;border-radius: 10px;border-color: aliceblue;border-top-left-radius: 0%;border-bottom-left-radius: 0%;}
    select{padding: 10px;border-radius: 10px;border-color: aliceblue;border-top-right-radius: 0%;border-bottom-right-radius: 0%;}
    .searchBlock{margin-left: 100px;}
    .menuBlock2{margin-left: 300px;}