.Nav5{display: flex;
background-color: cadetblue;margin-top: 10px;padding: 75;}
.image{height: 50px;width: 50px;padding-top: 10px;padding-left: 70px;}
.sign2{margin-left: 20px;color: white;background-color:  cadetblue;
    border-radius: 4px;padding: 7px;width: 80px;height: 40px;margin-left: 600px;}
    .selec{border-radius: 0%;color: aliceblue;background-color: rgb(75, 74, 74);border-radius: 4px ;
    font-size: 15px; font-weight: 500;margin-left: 550px;}