.main3{display: flex;background-color: rgb(75, 74, 74);
    align-items: center;margin-top: 10px;
}
.img{width: 125px;height: 50px;margin-left: 100px;padding-top: 8px;}
.menu3{margin-left: 1000px;}
.sign{margin-left: 20px;color: white;background-color: red;
border-radius: 4px;padding: 7px;width: 80px;height: 40px;}
.selec{border-radius: 0%;color: aliceblue;background-color: rgb(75, 74, 74);border-radius: 4px;
font-size: 15px; font-weight: 500;}