.main2{display: flex;background-color: rgb(173, 158, 158);
    align-items: center;margin-top: 10px;
}
.zudi{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: aliceblue;}
.menu2{color: aliceblue;margin-left: 700px;}
.z{color: aliceblue;}
